.task-panel {

    .mdc-dialog__content, 
    .desc {
        color: black;
    }
   
    .mdc-dialog__title::before{
        height: 0;
    }

    .mat-mdc-dialog-actions {
        justify-content: flex-end;
    }


}