<ul cdkDropListGroup>
    <li *ngFor="let taskList of tasklists$ | async; trackBy: trackTaskListBy">
        <app-task-list [taskList]="taskList"></app-task-list>
    </li>
    <li [style.flex-basis]="'content'">
        <button (click)="addList()" mat-mini-fab color="primary" aria-label="add new list" #tooltip="matTooltip"
            matTooltip="Создать новый список задач" matTooltipPosition="right">
            <mat-icon>plus_one</mat-icon>
        </button>
    </li>
    <li *ngIf="!(tasklists$ | async)?.length" [style.flex-basis]="'content'">
        <app-workspace-tutorial></app-workspace-tutorial>
    </li>
</ul>