@import '../../common-styles.scss';

:host {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: pallete-color($light-green, 50);
}

ul {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: flex-start;
    list-style-type: none;

    li {
        display: inline-block;
        margin: 5px;
        width: 280px;
    }
}
