<mat-card>
    <mat-card-header>
        <app-editable>
            <mat-card-title editableField>{{taskList.title}}</mat-card-title>
            <mat-form-field containerForEditable [style.width]="'100%'">
                <mat-label>Имя списка</mat-label>
                <input matInput type="text" inputForEditable>
            </mat-form-field>
        </app-editable>
    </mat-card-header>

    <mat-card-actions>
        <button mat-raised-button color="accent" type="button" (click)="addTask()">Создать задачу</button>
    </mat-card-actions>
    <mat-divider></mat-divider>
    <mat-card-content>
        <ul cdkDropList [cdkDropListData]="taskList.tasks" (cdkDropListDropped)="drop($event)">
            <li *ngFor="let task of taskList.tasks" (click)="openCard(task)" cdkDrag>
                <app-task-preview [task]="task"></app-task-preview>
            </li>
        </ul>
    </mat-card-content>
</mat-card>