:host {
    border: 1px solid red;
    background-color: #444;
    display: inline-block;
    min-width: 150px;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
    }
}

.title {
    font-size: large;
    color: green;
    text-align: center;
}